@import 'global';
@import 'layout';

// *{
//     border: 1px solid black;
// }

.hero_container{
    @include row();
    @include center-content();
    height:90vh;
    min-height: 340px;
    max-height: 600px;
    background: $light-grayish-blue;
    background:
            url('/images/bg-intro-desktop.svg') no-repeat 640px -250px,
}

.hero_container::after{
    content:url('/images/image-mockups.png');
    position: absolute;
    right:-130px;
    top:-150px;
}

.hero_text_container{
    @include container();
}
.hero_text{
        width: calc(30vw + 10px);
    
        h1{
            color: $dark-blue;
            font-size:calc(8vh - 15px);
            font-weight: 400;
        }
        p{
            color:$grayish-blue;
        }
}
@media screen and (max-width:$breakpointsmall) {
    .hero_container { 
       height:100vh;
        // right:0;
        // background: url('/images/images-mockups.png') no-repeat ;
        background: url('/images/bg-intro-mobile.svg') no-repeat;
    }
    .hero_text_container{
        width:100%;
        height: fit-content;
        bottom:0;
    }
    .hero_text{
        width:100%;
        height: fit-content;
        bottom:0;
        width:90%;
        padding: 1rem;
        text-align: center;
        position:absolute;
        background-color: $white;
    }
   .hero_container::after {
    transform: scale(.3);
    top:-240px;
    left:-120px;
   }
}