@import 'global';
@import 'layout';

// *{
//     border: 1px solid black;
// }
.hero_container{
    @include row();
    @include center-content();
    min-height:80vh;
    overflow-x: hidden;
    position: relative;
    overflow-y:hidden;
    background: $light-grayish-blue;
    background:
            // url('/images/image-mockups.png') no-repeat 825px -150px,
            url('/images/bg-intro-desktop.svg') no-repeat 640px -250px,

}

.hero_img > img{
    position: absolute;
    right:-9%;
    bottom:-49%;
}
.hero_text_container{
    @include container();
}
.hero_text{
        width: calc(30vw + 10px);
    
        h1{
            color: $dark-blue;
            font-size:calc(8vh - 15px);
            font-weight: 400;
        }
        p{
            color:$grayish-blue;
        }
}
@media screen and (max-width:$breakpointsmall) {
    .hero_container { 
       height:100vh;
        background:url('/images/bg-intro-mobile.svg') no-repeat
    }
    .hero_text_container{
        width:100%;
        height: fit-content;
        bottom:0;
    }
    .hero_text{
        width:100%;
        height: fit-content;
        bottom:0;
        width:90%;
        padding: 1rem;
        text-align: center;
        position:absolute;
        background-color: $white;
    }
    .hero_img > img {
        top:10px;
        left:10%;
        right:15%;
        height:45%;
        // width:100%;
    }
}